---
import DocsNav from '../../components/DocsNav.astro'
import Shell from '../../layouts/Shell.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const docs = await getCollection('docs')
  return docs
    .sort((a, b) => a.data.index - b.data.index)
    .map((doc) => ({
      params: { slug: doc.slug },
      props: { doc, title: doc.data.title },
    }))
}

const { doc, title } = Astro.props
const { Content } = await doc.render()
---

<Shell title={Astro.props.title} description={Astro.props.description}>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <DocsNav />
      </div>

      <div class="col-md-9 content px-md-5">
        <h1>{title}</h1>

        <Content />
      </div>
    </div>
  </div>
</Shell>

<style>
  .content {
    border-left: 1px solid var(--border-light);
  }
</style>
