@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap-utilities.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap-grid.min.css");

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  color-scheme: light dark;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

.container {
  max-width: 992px;
}

img {
  max-width: 100%;
}

a {
  color: var(--bs-secondary);
  text-decoration: none;
  transition: color 240ms ease-out;
}

a:hover {
  color: canvastext;
}