[data-preview="true"] .button {
  background-color: var(--button-background, transparent);
  border: 0;
  border-radius: var(--button-border-radius, 0.5rem);
  color: var(--button-foreground-color ,--foreground-color);
  cursor: pointer;
  font-size: var(--button-font-size, 1em);
  font-weight: var(--button-font-weight, 500);
  padding: var(--button-vertical-padding, 0.5rem) var(--button-horizontal-padding, 1rem);
  transition: background-color 240ms ease-out;
}

[data-preview="true"] .button + .button {
  margin-left: 0.5em;
}

[data-preview="true"] .button:hover {
  background-color: var(--button-hover-background, var(--primary-color-100));
}

.button.primary {
  --button-foreground-color: #fff;
  --button-background: var(--primary-color);
  --button-hover-background: var(--primary-color-500);
}

.button.secondary {
  --button-foreground-color: #fff;
  --button-background: var(--secondary-color);
  --button-hover-background: var(--secondary-color-500);
}

.button.tertiary {
  --button-foreground-color: #fff;
  --button-background: var(--tertiary-color);
  --button-hover-background: var(--tertiary-color-500);
}

.button.plain {
  --button-foreground-color: var(--primary-color-500);
}