[data-preview="true"] .card {
  --card-border-color: #2e4965b3;
  --card-border-radius: 1em;
  --card-padding: 1em;
  max-width: 20rem;
  border: var(--card-border-width, 1px) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  font-family: var(--font-family);
}

[data-preview="true"] .card-header {
  display: flex;
}