[data-preview="true"] .card {
  max-width: 20rem;
  border: var(--card-border-width, 1px) solid var(--card-border-color, #2e4965b3);
  border-radius: var(--card-border-radius, 1em);
  padding: var(--card-padding, 1em);
  font-family: var(--font-family);
}

[data-preview="true"] .card-header {
  display: flex;
}