@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

* :not([data-preview="true"] > :not(header), .material-symbols-outlined) {
  --font-family: 'DM Sans', sans-serif;

  font-family: var(--font-family);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 10rem;
}

:root {
  --background-color: #f6f8fa;
  --foreground-color: #38393c;
  --secondary-color: #2e4965b3;
  --font-size: 14px;
  --border-radius: 1rem;

  font-size: var(--font-size);
}

[data-theme=dark] {
  --background-color: #323335;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 2rem;
}

fieldset {
  border: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;

  font-size: 22px;
}

.me-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.text-secondary {
  color: var(--secondary-color)
}

.medium {
  font-weight: 500;
}