@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 10rem;
}

:root {
  --app-background-color: #f6f8fa;
  --app-foreground-color: #38393c;
  --app-secondary-color: #2e4965b3;
  --app-secondary-color-light: #dfe7eeb8;
  --app-font-size: 14px;
  --app-border-radius: 1rem;

  font-size: var(--app-font-size);
}

.app {
  font-size: 14px;
}

[data-theme='dark'] {
  --app-background-color: #212121;
  --app-foreground-color: #f4f5f5;
  --app-secondary-color: #b5babfb7;
}

[data-theme='dark'] .text-secondary {
  color: #a0a1aa;
}

body {
  --app-font-family: 'DM Sans', sans-serif;
  background-color: var(--app-background-color);
  color: var(--app-foreground-color);
  font-family: var(--app-font-family);
  padding: 2rem;
}

fieldset {
  border: 0;
  padding: 0;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--app-secondary-color-light);
  border-radius: 0.25rem;
  padding: 0 0.25rem 0.125rem;
}

[data-theme="dark"] code {
  background-color: var(--app-background-color);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

  font-size: 22px;
}

.me-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.text-secondary {
  --app-secondary-color: #2e4965b3;
  color: var(--app-secondary-color);
}

.flex-center-vertical {
  align-items: center;
  display: flex;
}

.medium {
  font-weight: 500;
}

.material-symbols-outlined.small {
  font-size: 1.3rem;
}
