[data-preview="true"] h1 {
  font-size: var(--h1-font-size, revert);
  font-weight: var(--h1-font-weight, revert);
  color: var(--h1-color, inherit);
}

[data-preview="true"] h2 {
  font-size: var(--h2-font-size, revert);
  font-weight: var(--h2-font-weight, revert);
  color: var(--h2-color, inherit);
}

[data-preview="true"] h3 {
  font-size: var(--h3-font-size, revert);
  font-weight: var(--h3-font-weight, revert);
  color: var(--h3-color, inherit);
}

[data-preview="true"] h4 {
  font-size: var(--h4-font-size, revert);
  font-weight: var(--h4-font-weight, revert);
  color: var(--h4-color, inherit);
}

[data-preview="true"] h5 {
  font-size: var(--h5-font-size, revert);
  font-weight: var(--h5-font-weight, revert);
  color: var(--h5-color, inherit);
}

[data-preview="true"] h6 {
  font-size: var(--h6-font-size, revert);
  font-weight: var(--h6-font-weight, revert);
  color: var(--h6-color, inherit);
}