{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./app/tsconfig.json"
  },
  "extends": [
    "preact",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "sort-imports": "warn",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
