.button {
  background-color: var(--app-primary-color);
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  display: inline-flex;
  align-items: center;
  font-family: var(--app-font-family);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: background-color 240ms ease-out;
}

.button + .button {
  margin-left: 0.5rem
}

.button:global(.checked) {
  background-color: var(--app-primary-color);
}

a.button {
  text-decoration: none;
}

.button:hover {
  background-color: #3f73db;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:global(.plain) {
  background-color: transparent;
  color: #2e4965b3;
}

.button:global(.plain.checked) {
  background-color: #dfe7eeb8;
}

.button:global(.plain):hover {
  background-color: #dfe7eeb8;
}

.button:global(.small) {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.button:global(.small) :global(.material-symbols-outlined) {
  font-size: 1.2rem;
}

[data-theme='dark'] .button:global(.plain) {
  color: #ddd;
  --app-button-background-checked: #363636;
  --app-button-background-hover: #363636;
}

[data-theme='dark'] .button:global(.plain.checked) {
  background-color: #363636;
}

[data-theme='dark'] .button:global(.plain:hover) {
  background-color: #363636;
}
