.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  position: sticky;
  top: 0;
  background-color: var(--app-background-color);
  z-index: 10;
  padding: 1rem 0;
}

.header a {
  display: block;
  text-decoration: none;
}

.downloadModalContainer {
  position: absolute;
  right: 3rem;
  width: 20rem;
}