---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>