.button {
  --app-button-border-radius: 0.5rem;
  --app-button-font-size: 1rem;
  --app-button-background: blue;
  --app-button-background-checked: blue;
  --app-button-background-hover: blue;
  --app-button-padding-vertical: 0.5rem;
  --app-button-padding-horizontal: 1rem;
  --app-button-animation-duration: 240ms;
  --app-button-font-weight: 500;
  --app-button-color: #ffffff;
  background-color: var(--app-button-background);
  border: 0;
  border-radius: var(--app-button-border-radius);
  color: var(--app-button-color);
  display: inline-flex;
  align-items: center;
  font-family: var(--app-font-family);
  font-size: var(--app-button-font-size);
  font-weight: var(--app-button-font-weight);
  padding: var(--app-button-padding-vertical)
    var(--app-button-padding-horizontal);
  transition: background-color var(--app-button-animation-duration) ease-out;
}

.button:global(.checked) {
  background-color: var(--app-button-background-checked);
}

a.button {
  text-decoration: none;
}

.button:hover {
  background-color: var(--app-button-background-hover);
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:global(.plain) {
  --app-button-background: transparent;
  --app-button-background-checked: #dfe7eeb8;
  --app-button-background-hover: #dfe7eeb8;
  --app-button-color: #2e4965b3;
}

.button:global(.plain):hover {
  --app-button-background: #dfe7eeb8;
}

.button:global(.small) {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.button:global(.small) :global(.material-symbols-outlined) {
  font-size: 1.2rem;
}

[data-theme='dark'] .button:global(.plain) {
  --app-button-color: #ddd;
  --app-button-background-checked: #363636;
  --app-button-background-hover: #363636;
}
