.button {
  --button-border-radius: 0.5rem;
  --button-font-size: 1rem;
  --button-background: blue;
  --button-padding-vertical: 0.5rem;
  --button-padding-horizontal: 1rem;
  --button-animation-duration: 240ms;
  --button-font-weight: 500;
  --button-color: #ffffff;
  background-color: var(--button-background);
  border: 0;
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  display: inline-flex;
  align-items: center;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  transition: background-color var(--button-animation-duration) ease-out;
}

.button:global(.checked) {
  background-color: var(--button-background-checked);
}

a.button {
  text-decoration: none;
}

.button:hover {
  --button-background: red;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:global(.plain) {
  --button-background: transparent;
  --button-background-checked: #dfe7eeb8;
  --button-color: #2e4965b3;
}

.button:global(.plain):hover {
  --button-background: #dfe7eeb8;
}

.button:global(.small) {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.button:global(.small) :global(.material-symbols-outlined) {
  font-size: 1.2rem;
}

[data-theme='dark'] button:global(.plain) {
  --button-color: #ddd;
}