.config {
  width: 20rem;
}

.config > :first-child {
  position: absolute;
  width: inherit;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section + .section {
  margin-top: 3rem;
}

.nav-side {
  width: 12rem;
}

.preview {
  flex: 1;
  margin: 0 3rem;
}