.config {
  width: 22rem;
}

.config > :first-child {
  position: absolute;
  width: inherit;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section + .section {
  margin-top: 3rem;
}

.nav-side {
  margin-top: 1rem;
  width: 12rem;
}

.preview {
  --font-size: 14px;
  background: var(--background-color);
  color: var(--foreground-color);
  border-radius: 1rem;
  flex: 1;
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0 1rem;
  max-width: 60rem;
  padding: 1rem 3rem;
}

.preview {
  font-family: var(--font-family);
}

.preview :global(header), .preview :global(.app) {
  font-size: 1rem;
  font-family: var(--app-font-family);
}