.select {
  appearance: none;
  background-color: var(--background-color);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNyA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC4yNTU5MyA0LjEyNzEzQzMuODU3MTYgNC41ODc1OSAzLjE0Mjg0IDQuNTg3NTkgMi43NDQwNyA0LjEyNzEzTDEuMDM1ODYgMi4xNTQ2NUMwLjQ3NDk4MSAxLjUwNzAxIDAuOTM1MDM0IDAuNSAxLjc5MTc5IDAuNUw1LjIwODIyIDAuNDk5OTk5QzYuMDY0OTcgMC40OTk5OTkgNi41MjUwMiAxLjUwNzAxIDUuOTY0MTQgMi4xNTQ2NUw0LjI1NTkzIDQuMTI3MTNaIiBmaWxsPSIjQTdBN0E3Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  border-width: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.35rem 1.75rem 0.35rem 0.75rem;
}
