---
import Shell from '../layouts/Shell.astro'
---

<Shell
	title="Welcome"
	description="Stylebender: The missing web workflow for fast moving Indie developers."
>
	<div class="container py-5 pb-0">
		<div class="text-secondary text-center my-0">Welcome to stylebender</div>
		<h1 class="mx-auto mt-0 text-center">
			The missing web workflow for the fast moving indie developer
		</h1>

		<div class="text-center">
			<button class="cta">Start bending</button>
		</div>

		<div>
			<img
				id="screenshot-light"
				src="/screenshot-light.png"
				alt="Screenshot"
				class="img-fluid"
			/>
			<img
				id="screenshot-dark"
				src="/screenshot.png"
				alt="Screenshot"
				class="img-fluid"
			/>
		</div>
	</div>

	<section class="intro py-5">
		<div class="container">
			<div class="row mx-md-5">
				<div class="col-md-4">
					<h2 class="fs-6">What is stylebender?</h2>
					<p class="text-secondary">
						It simply a style generator. But instead of modifying configuration
						files or using library APIs, you use the browser to visually develop
						your looks.
					</p>
				</div>

				<div class="col-md-4">
					<h2 class="fs-6">Easy. Dark and light!</h2>
					<p class="text-secondary">
						You can skip the Figma stages and dive right in.
					</p>
					<p class="text-secondary">
						You can create styles for both light and dark modes. All CSS, no
						Javascript.
					</p>
				</div>

				<div class="col-md-4">
					<h2 class="fs-6">Download and use!</h2>
					<p class="text-secondary">
						When you're done, you can download your stylesheet and add to your
						project and get going.
					</p>
					<p class="text-secondary">
						Doesn't matter what web framework you're using.
					</p>
				</div>
			</div>

			<h2 class="fs-1 text-center mt-5 mb-0">
				"You'll never feel this level of happiness..."
			</h2>
			<p class="text-center my-0">
				<a
					class="d-inline-flex align-items-center"
					href="https://youtu.be/ZNoODFgTq3c?t=54"
					target="_blank"
				>
					<span class="material-symbols-outlined me-2">movie</span> Watch this</a
				>
			</p>
		</div>
	</section>
</Shell>

<style>
	h1 {
		max-width: 500px;
	}

	button {
		border: 0;
		background-color: var(--bs-primary);
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		font-size: 1rem;
		color: #fff;
		cursor: pointer;
		font-family: inherit;
	}

	#screenshot-light {
		display: block;
	}

	#screenshot-dark {
		display: none;
	}

	.intro {
		background: #f6f8fa;
		border-top: 1px solid #e9eaeb;
	}

	@media (prefers-color-scheme: dark) {
		#screenshot-light {
			display: none;
		}

		#screenshot-dark {
			display: block;
		}

		.intro {
			background: #1d1d1d;
			border-top: 1px solid #3f3f3f;
		}
	}
</style>
