---
import Stylebender from '../app/Stylebender'
import RootLayout from '../layouts/RootLayout.astro'
import '@simonwep/pickr/dist/themes/nano.min.css'
---

<RootLayout title="App">
  <main>
    <Stylebender client:only />
  </main>
</RootLayout>

<style>
  main {
    min-height: 100vh;
  }
</style>