@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --app-background-color: #f6f8fa;
  --app-foreground-color: #38393c;
  --app-secondary-color: #2e4965b3;
  --app-secondary-color-light: #dfe7eeb8;
  --app-border-radius: 1rem;
  --app-dark-border-color: #3f3f46;
  --app-light-border-color: #e4e4e7;

  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

fieldset {
  border: 0;
  padding: 0
}

.fw-bold {
  font-weight: 700;
}

:target {
  scroll-margin-top: 10rem;
}

.app {
  font-size: 14px;
}

[data-theme='dark'] {
  --app-background-color: #212121;
  --app-foreground-color: #f4f5f5;
  --app-secondary-color: #b5babfb7;
}



.app-text-secondary {
  --app-secondary-color: #2e4965b3;
  color: var(--app-secondary-color);
}

[data-theme='dark'] .app-text-secondary {
  color: #a0a1aa;
}

#editor {
  margin-bottom: 12rem;
}

body {
  --app-font-family: 'DM Sans', sans-serif;
  background-color: var(--app-background-color);
  color: var(--app-foreground-color);
  font-family: var(--app-font-family);
  padding: 2rem;
}

fieldset {
  border: 0;
  padding: 0;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--app-secondary-color-light);
  border-radius: 0.25rem;
  padding: 0 0.25rem 0.125rem;
}

[data-theme='dark'] code {
  background-color: var(--app-background-color);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

  font-size: 22px;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.me-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.flex-center-vertical {
  align-items: center;
  display: flex;
}

.medium {
  font-weight: 500;
}

.material-symbols-outlined.small {
  font-size: 1.3rem;
}

[data-theme='dark'] :is(input, select) {
  border: 0.065rem solid var(--app-dark-border-color);
}