---
import { getCollection } from 'astro:content'

const docs = await getCollection('docs')
docs.sort((a, b) => a.data.index - b.data.index)

const { pathname } = Astro.url
---

<nav>
  <ul class="p-0">
    {
      docs.map((doc) => {
        const link = `/docs/${doc.slug}`
        const active = pathname === link || link === pathname.replace(/\/$/, '')

        return (
          <li>
            <a
              class:list={[
                'd-flex py-1 px-2 rounded',
                {
                  active,
                },
              ]}
              href={link}
            >
              {doc.data.title}
            </a>
          </li>
        )
      })
    }
  </ul>
</nav>

<style>
  ul {
    list-style: none;
  }

  a:hover,
  a.active {
    background-color: var(--bs-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    a:hover,
    a.active {
      background-color: var(--bs-gray-800);
    }
  }
</style>
