---
import HeaderLink from './HeaderLink.astro'
---

<header class="container d-flex justify-content-between align-items-center py-3">
	<h2 class="d-flex align-items-center fs-5 text-secondary">
		<span class="material-symbols-outlined me-3">gesture</span> stylebender
	</h2>
	<nav>
		<HeaderLink href="/app">Start bending</HeaderLink>
		<HeaderLink href="https://github.com/blackmann/stylebender">
			Github
		</HeaderLink>
	</nav>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
